<div class="ji-nav" th:fragment="navbar">
    <div class="ji-container">
        <a href="http://localhost:8080/jishop/index">
            <span><i class="fas fa-home"></i></span>
            JI SHOP ホーム
        </a>

        <span th:if="${session.user != null}">
            <a href="javascript:" th:text="|こんにちは、${session.user.name}|"></a>
            <a href="http://localhost:8080/jishop/logout">ログアウト</a>
        </span>

        <span th:if="${session.user == null}">
            <a href="http://localhost:8080/jishop/register">新規登録</a>
            <a href="http://localhost:8080/jishop/login">ログイン</a>
        </span>

        <span class="float-right">
            <a href="http://localhost:8080/jishop/orders">注文履歴</a>
            <a href="http://localhost:8080/jishop/orders/cart">
                <i class="fas fa-shopping-cart"></i>
                <span>
                    カート <strong id="cartNum">${Session["cartNum"]}</strong> 件
                </span>
            </a>
        </span>
    </div>
</div>
