<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="common/shop/header::header('新規登録')">
</head>
<body>

<script type="text/javascript">
    $(() => {
        let vm = new Vue({
            el: '#register',
            data: {
                url: 'user/register',
                user: {},
                isExist: false,
                errorMsg: ''
            },
            methods: {
                register: function () {
                    vm.isExist = false;

                    if (vm.user.name.length === 0) {
                        vm.isExist = true;
                        vm.errorMsg = 'ユーザネームを入力してください。';

                        return;
                    }

                    if (vm.user.password.length === 0) {
                        vm.isExist = true;
                        vm.errorMsg = 'パスワードを入力してください。';

                        return;
                    }

                    if (vm.user.password !== vm.user.repassword) {
                        vm.isExist = true;
                        vm.errorMsg = '同じパスワードを入力してください。';

                        return;
                    }

                    axios.post(this.url, this.user).then((response) => {
                        if (response.data === 'success') {
                            window.location.href = 'login';
                        } else {
                            vm.errorMsg = response.data;
                            vm.isExist = true;
                        }
                    });
                }
            }
        });
    });
</script>

<div id="register">
    <!-- nav -->
    <div th:replace="common/shop/navbar::navbar"></div>

    <!-- register -->
    <div class="ji-register">
        <div>
            <form id="registerForm">
                <div style="text-align: center;padding-top: 50px;" class="red-color" v-if="isExist">{{ errorMsg }}</div>

                <div style="margin-top: 50px" class="jir-msg">
                    ユーザネーム設定
                </div>
                <div>
                    <label for="name">ユーザネーム</label>
                    <input id="name" name="name" type="text" placeholder="ユーザネーム変更できない"
                           v-model="user.name">
                </div>

                <div class="jir-msg">
                    <span>パスワード設定</span>
                    <span>登録検査</span>
                </div>

                <div>
                    <label for="password">パスワード</label>
                    <input id="password" name="password" type="text" placeholder="パスワード"
                           v-model="user.password">
                </div>

                <div>
                    <label for="repassword">パスワード確認</label>
                    <input id="repassword" name="repassword"
                           type="text" placeholder="パスワード確認"
                           v-model="user.repassword">
                </div>

                <div>
                    <button type="button" v-on:click="register()">提　　出</button>
                </div>
            </form>
        </div>
    </div>

    <!-- footer -->
    <div th:replace="common/shop/footer::footer"></div>
</div>

</body>
</html>