<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/admin/header::header('属性管理')">
</head>
<body>

<script type="text/javascript">
    $(() => {
        let cid = getUrlParams('cid');

        let vm = new Vue({
            el: '#properties',
            data: {
                url: 'data/',
                pageResult: {},
                property: {
                    id: null,
                    name: '',
                    category: {
                        id: null,
                        name: ''
                    }
                },
                category: {
                    id: null,
                    name: ''
                }
            },
            mounted: function () {
                this.list(0);
            },
            methods: {
                list: function (start) {
                    let url = this.url + 'categories/' + cid + '/properties';
                    axios.get(url, {
                        params: {
                            start: start
                        }
                    }).then((response) => {
                        vm.pageResult = response.data;
                        vm.category = response.data.content[0].category;
                    }).catch(function (error) {
                        console.log(error);
                    });
                },
                // 控制跳转页面
                goPage: function (num) {
                    if (num !== vm.pageResult.number) {
                        this.list(num);
                    }
                },
                // 打开编辑模态框
                openEditModal: function (property) {
                    if (property) {
                        this.property = property;
                    }

                    $('#editModal').modal();
                },
                // 新增/更新数据
                addOrUpdate: function () {
                    this.property.category = this.category;

                    // 更新
                    if (this.property.id) {
                        axios.put(this.url + 'properties', this.property).then(() => {
                            this.afterEdit();
                        });
                    } else { // 新增
                        axios.post(this.url + 'properties', this.property).then(() => {
                            this.afterEdit();
                        });
                    }
                },
                // 新增/更新后执行
                afterEdit: function () {
                    $('#editModal').modal('hide');
                    vm.list(0);
                    vm.property = {
                        id: null,
                        name: '',
                        category: {
                            id: null,
                            name: ''
                        }
                    };
                },
                // 打开删除模态框
                openDeleteModal: function (id) {
                    this.property.id = id;
                    $('#deleteModal').modal();
                },
                // 删除数据
                remove: function () {
                    axios.delete(this.url + 'properties/' + this.property.id).then(() => {
                        $('#deleteModal').modal('hide');
                        vm.list(0);
                    });
                },
            }
        });
    });
</script>

<div id="properties">
    <!-- nav -->
    <div th:replace="common/admin/navbar::nav"></div>

    <!-- list -->
    <div class="container">
        <div class="bread-control">
            <nav aria-label="breadcrumb">
                <div class="row">
                    <ol class="breadcrumb col-11">
                        <li class="breadcrumb-item"><a href="javascript:">すべての分類</a></li>
                        <li class="breadcrumb-item">
                            <a href="list?cid=${category.id}">{{ category.name }}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">属性</li>
                    </ol>
                    <button type="button" class="btn btn-primary add-button"
                            @click="openEditModal()">追加
                    </button>
                </div>
            </nav>
        </div>

        <div>
            <input id="deleteUrl" type="hidden">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">属性名称</th>
                    <th scope="col">編集</th>
                    <th scope="col">削除</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="property in pageResult.content">
                    <td>{{ property.id }}</td>
                    <td>{{ property.name }}</td>
                    <td>
                        <a href="javascript:" @click="openEditModal(property)">
                            <i class="fas fa-edit" data-toggle="modal" data-target="#editModal"></i>
                        </a>
                    </td>
                    <td>
                        <a href="javascript:" @click="openDeleteModal(property.id)">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- pageNav -->
    <div th:replace="common/admin/pagenav::pagenav"></div>
    <!-- edit modal -->
    <div th:replace="admin/property/edit::edit"></div>
    <!-- delete modal -->
    <div th:replace="admin/property/delete::delete"></div>
</div>

</body>
</html>