<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="common/shop/header::header('jishop')">
</head>
<body>

<script type="text/javascript">
    $(() => {
        let vm = new Vue({
            el: '#index',
            data: {
                categories: []
            },
            mounted: function () {
                this.list();
            },
            methods: {
                // 加载数据
                list: function () {
                    axios.get('data/index').then((response) => {
                        vm.categories = response.data;
                    }).catch(function (error) {
                        console.log(error);
                    });
                },
            }
        });

        // 文字の長さを
        Vue.filter("strFormat", function (value, start, end) {
            if (!value)
                return '';
            return value.substring(start, end);
        });
    });
</script>

<div id="index">
    <!-- nav -->
    <div th:replace="common/shop/navbar::navbar"></div>

    <!-- search -->
    <div th:replace="common/shop/search::search"></div>

    <!-- category -->
    <div th:replace="shop/home/category::category"></div>

    <!-- products -->
    <div class="ji-products">
        <div class="p-row clear-fix" v-for="category in categories">
            <div class="left-mark"></div>
            <span class="c-title clear-fix">{{ category.name }}</span>

            <div class="p-item" v-for="product, index in category.products" v-if="index < 5">
                <a :href="'products?pid=' + product.id">
                    <img :src="'img/single/' + product.firstImage.name"
                         alt="写真なし">
                </a>
                <a class="pd-link" :href="'products?pid=' + product.id">
                    <span class="p-desc">[人気]{{ product.name | strFormat(0, 20) }}</span>
                </a>
                <span class="p-price">￥{{ product.promotePrice }}</span>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div th:replace="common/shop/footer::footer"></div>
</div>

</body>
</html>