<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="common/shop/header::header('支払い成功')">
</head>
<body>

<script type="text/javascript">
    $(() => {
        let id = getUrlParams('id');

        let vm = new Vue({
            el: '#hasPaid',
            data: {
                url: 'paid'
            },
            mounted: function () {
                this.paid();
            },
            methods: {
                paid: function () {
                    axios.get(this.url, {
                        params: {
                            id: id
                        }
                    }).then((response) => {
                        console.log(response);
                    });
                }
            }
        });
    });
</script>


<div id="hasPaid">
    <!-- nav -->
    <div th:replace="common/shop/navbar::navbar"></div>

    <!-- hasPaid -->
    <div class="ji-paid ji-container">
        <div>
            支払いできました。
        </div>
    </div>

    <!-- footer -->
    <div th:replace="common/shop/footer::footer"></div>
</div>

</body>
</html>