<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="common/shop/header::header('支払い')">
</head>
<body>

<script type="text/javascript">
    $(() => {
        let id = getUrlParams('id');

        let vm = new Vue({
            el: '#pay',
            data: {
                url: 'pay',
                order: {}
            },
            mounted: function() {
                this.load();
            },
            methods: {
                load: function() {
                    axios.get(this.url, {
                        params: {
                            id: id
                        }
                    }).then((response) => {
                        vm.order = response.data;
                    });
                }
            }
        });
    });
</script>

<div id="pay">
    <!-- nav -->
    <div th:replace="common/shop/navbar::navbar"></div>

    <!-- pay -->
    <div class="ji-container ji-pay">
        <div>
            <div>
                <span>未払い金額：</span>
                <span class="jip-amount">￥{{ order.amount }}</span>
            </div>

            <div>
                <a :href="'hasPaid?id=' + order.id">
                    <button>支払い確認</button>
                </a>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div th:replace="common/shop/footer::footer"></div>
</div>

</body>
</html>